.wrap {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background: rgb(84,53,65);
  background-image: linear-gradient(45deg, rgba(84,53,65,1) 0%, rgba(146,116,147,1) 50%, rgba(95,159,205,1) 100%);
}
.inner {
  width: 70vw;
  margin: auto;
  margin-top: 30vh;
  text-align: center;
  background: url(wp.jpg);
  font-size: 10vw;
  font-family: Mulish;
  color: transparent;
  -webkit-background-clip: text;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
}

.wrap::before{
  filter: blur(5px);
}

.mainLink{
  width: 70vw;
  margin: auto;
  text-align: center;
  font-size: 1vw;
  }

  .mainLink a {
    font-family: 'Press Start 2P';
    color:#fff;
    margin: 0px 10px;
  }

  @media (max-width: 800px) {
    .mainLink a {
      display: block;
      margin:  10px 20px 10px 10px;
      font-size: 2vw;
    }
}

